/* Video */


.video {
	min-height: auto;
	object-fit: cover;
	background-position: absolute;
	z-index: 10;
	overflow: hidden;
}

.video video {
	width: 100%;
}


.models {
	width: 100%;

}

.models .modelTxt {
	margin-bottom: 5%;
	margin-top: 5%;
	text-align: center;
}

.models .modelTxt h1 {
	font-weight: 600;
	font-size: 42px;
	font-family: raleway;
}

.models .modelTxt h2 {
	font-size: 18px;
	font-weight: 400;
	font-family: barlow;
	color: #c8c8c8;
}

.models .modelTxt p {
	font-size: 18px;
	font-weight: 400;
	color: black;
}

.models .modelCard {
	width: 100%;
	display: flex;
}

.models .modelCard .col-md-12 {
	margin-bottom: 2%;
	width: 95%;
	border-radius: 7px;
	padding: 14px;
	box-shadow: 0 0 5px 3px;
}


.models .modelCard .col-md-12 .col-md-3 img {
	width: 250px;
}

.models .modelCard .col-md-12 .col-md-9 {
	display: flex;
	align-items: center;
}

.models .modelCard .col-md-12 .col-md-9 .modelAbout a {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #336170;
	font-weight: 800;
	font-size: 20px;

}

.models .modelCard .col-md-12 .col-md-9 .modelAbout h6 {
font-weight: 500;
	font-size: 14px;
   color: #929292;
}

.models .modelCard .col-md-12 .col-md-9 .modelAbout p {
color: black;
}


